#firstTitle {
    color: white;
    background-color: black;
    padding: 1px;
    text-align: left;
    margin-bottom: 10px;
}

#secondTitle {
    color: white;
    background-color: purple;
    text-align: center;
    padding: 1px;
    font-style: italic;
    margin-bottom: 10px;
}

#thirdTitle {
    color: white;
    background-color: skyblue;
    text-align: end;
    padding: 0.1px;
    text-decoration: underline
}